<mat-tree
  [dataSource]="dataSource"
  [treeControl]="treeControl"
  [cdkDropListData]="dataSource.data"
  cdkDropList
  (cdkDropListDropped)="drop($event)"
>
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
    [cdkDragData]="node"
    cdkDragLockAxis="y"
    cdkDrag
  >
    <button mat-icon-button disabled></button>
    <span
      [class]="
        selectedNode === node.url
          ? 'norml-tree-node selected-norml-tree-node'
          : 'norml-tree-node'
      "
      [routerLink]="node.url"
      (click)="selectedNode = node.url"
      >{{ node.name }}</span
    >
    <button mat-icon-button cdkDragLockAxis="y" cdkDragHandle>
      <mat-icon>drag_indicator</mat-icon>
    </button>
  </mat-tree-node>

  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    matTreeNodePadding
    [cdkDragData]="node"
    cdkDragLockAxis="y"
    cdkDrag
  >
    <button
      type="button"
      mat-icon-button
      matTreeNodeToggle
      [disabled]="node.isLoading"
      (click)="expansionModel.toggle(node.id)"
    >
      <mat-icon>
        {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </button>
    <span class="s-link">{{ node.name }}</span>
    <button mat-icon-button cdkDragLockAxis="y" cdkDragHandle>
      <mat-icon>drag_indicator</mat-icon>
    </button>
    <mat-spinner *ngIf="node.isLoading" [diameter]="18"></mat-spinner>
    <div
      [class.example-tree-invisible]="!treeControl.isExpanded(node)"
      role="group"
    >
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-tree-node>
</mat-tree>
