<mat-toolbar color="primary" style="height: 60px">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="breadcrumb">首页 /</div>
  <span class="example-spacer"></span>
  <button mat-button color="accent" (click)="logout()">注销</button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer mode="side" opened>
    <div class="menu-container">
      <div style="overflow: auto"><spr-menu></spr-menu></div>
      <div class="user-info">
        <span>{{sessionStorage.getItem('username')}}</span>
      </div>
    </div>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
