<mat-toolbar color="primary" style="height: 60px">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>应用管理</span>
  <span class="example-spacer"></span>
  <button mat-button color="accent" (click)="logout()">注销</button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer
    #drawer
    style="width: 200px; overflow-x: unset; overflow-y: unset"
    mode="side"
    opened
  >
  <app-menu-list></app-menu-list>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
